<section class="bg-gray-100 py-8">
    <div class="w-5/6 max-w-xl ml-auto mr-auto my-8">
        <div class="flex md:items-center flex-col md:flex-row md:justify-between">
            <div class="mb-8 md:mb-0 md:pr-4">
                <h3 class="text-4xl font-normal tracking-tighter leading-none mb-3">This is a medium heading</h3>
                <h4 class="text-3xl text-gray-700 font-normal leading-tight">This might be used for a call to action.</h4>
            </div>
            <div class="md:pl-4">
                <div class="flex items-center">
                    <button class="bg-blue-500 hover:bg-blue-600 text-xl leading-none text-white font-semibold h-10 px-6 rounded-full whitespace-no-wrap mr-2">
                        Get started
                    </button>
                    <button class="bg-transparent text-xl leading-none text-blue-500 font-semibold hover:text-blue-600 h-10 px-6 border border-blue-200 hover:border-blue-400 rounded-full whitespace-no-wrap ml-2">
                        Learn more
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
