<footer class="bg-gray-100 py-8">
    <div class="flex flex-col-reverse md:flex-row md:items-center md:justify-between px-8">
        <small class="block text-sm text-gray-500">
            &copy; CompanyName
        </small>
        <div class="mb-4 md:mb-0">
            <div class="flex flex-col md:flex-row md:items-center">
                <a class="text-xl md:text-base leading-normal text-gray-700 hover:text-gray-900 no-underline mb-4 md:mb-0 md:ml-8" href="#">Link</a>
                <a class="text-xl md:text-base leading-normal text-gray-700 hover:text-gray-900 no-underline mb-4 md:mb-0 md:ml-8" href="#">Another link</a>
                <a class="text-xl md:text-base leading-normal text-gray-700 hover:text-gray-900 no-underline mb-4 md:mb-0 md:ml-8" href="#">Link to something</a>
            </div>
        </div>
    </div>
</footer>
