<section class="bg-white py-8">
    <div class="w-5/6 max-w-lg ml-auto mr-auto mt-8 mb-8">
        <div class="flex flex-col justify-center text-center pb-8">
            <h2 class="text-5xl font-semibold leading-none tracking-tight mb-4">Flexible pricing for your inflexible needs</h2>
            <h3 class="text-3xl text-blue-darker opacity-75 font-normal leading-none mb-8">14-day free trial. No credit card required.</h3>
        </div>

        <div class="bg-white rounded shadow-lg overflow-hidden">
            <div class="flex flex-col-reverse md:flex-row">
                <div class="flex-1">
                    <div class="bg-grey-lightest p-8">
                        <h5 class="text-xl font-semibold mb-8">What you get when you sign up:</h5>
                        <ul class="list-reset">
                            <li class="mb-4">
                                <div class="flex items-center">
                                    <div class="mr-4">
                                        <svg class="align-middle text-teal" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/><polyline points="22 4 12 14.01 9 11.01"/></svg>
                                    </div>
                                    <p class="text-lg leading-normal">Unlimited everything</p>
                                </div>
                            </li>
                            <li class="mb-4">
                                <div class="flex items-center">
                                    <div class="mr-4">
                                        <svg class="align-middle text-teal" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/><polyline points="22 4 12 14.01 9 11.01"/></svg>
                                    </div>
                                    <p class="text-lg leading-normal">Unlimited limitlessness</p>
                                </div>
                            </li>
                            <li class="mb-4">
                                <div class="flex items-center">
                                    <div class="mr-4">
                                        <svg class="align-middle text-teal" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/><polyline points="22 4 12 14.01 9 11.01"/></svg>
                                    </div>
                                    <p class="text-lg leading-normal">Single sign-on</p>
                                </div>
                            </li>
                            <li class="">
                                <div class="flex items-center">
                                    <div class="mr-4">
                                        <svg class="align-middle text-teal" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/><polyline points="22 4 12 14.01 9 11.01"/></svg>
                                    </div>
                                    <p class="text-lg leading-normal">Code export HAHAHA</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex-1">
                    <div class="flex flex-col items-center p-8 h-full">
                        <div class="flex flex-1 mb-8">
                            <div class="flex self-start items-center">
                                <span class="text-3xl text-grey-dark leading-none mr-2">$</span>
                                <span class="text-5xl font-semibold tracking-tight leading-none text-teal mr-3" style="font-size: 5.6rem;">499</span>
                                <span class="text-xl text-grey-dark leading-none">/ month</span>
                            </div>
                        </div>
                        <button class="bg-teal hover:bg-teal-dark text-xl leading-none text-white font-semibold h-10 px-6 rounded-full whitespace-no-wrap w-full">
                            Take my money
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="w-5/6 max-w-md ml-auto mr-auto pt-8 mt-8 mb-8">
        <div class="flex flex-wrap -mx-6 -my-6">
            <div class="w-full sm:w-1/2 px-6 py-6">
                <h3 class="text-xl font-semibold leading-tight mb-3">Can I use these templates for free?</h3>
                <p class="text-lg leading-normal text-grey-darker mb-8">Yes! These templates are open-source so you can copy, paste and edit them any way you see fit.</p>
            </div>
            <div class="w-full sm:w-1/2 px-6 py-6">
                <h3 class="text-xl font-semibold leading-tight mb-3">Can I use these templates for free?</h3>
                <p class="text-lg leading-normal text-grey-darker mb-8">Yes! These templates are open-source so you can copy, paste and edit them any way you see fit.</p>
            </div>
            <div class="w-full sm:w-1/2 px-6 py-6">
                <h3 class="text-xl font-semibold leading-tight mb-3">Can I use these templates for free?</h3>
                <p class="text-lg leading-normal text-grey-darker mb-8">Yes! These templates are open-source so you can copy, paste and edit them any way you see fit.</p>
            </div>
            <div class="w-full sm:w-1/2 px-6 py-6">
                <h3 class="text-xl font-semibold leading-tight mb-3">Can I use these templates for free?</h3>
                <p class="text-lg leading-normal text-grey-darker mb-8">Yes! These templates are open-source so you can copy, paste and edit them any way you see fit.</p>
            </div>
        </div>
    </div>
</section>
