<section class="bg-white py-8">
    <div class="w-5/6 max-w-lg ml-auto mr-auto mt-8 mb-8">
        <div class="flex flex-col md:flex-row items-center justify-center">
                <p class="text-xl leading-normal mr-6 mb-8 md:mb-0 text-center md:text-left">This could be a call to action.</p>
                <button class="bg-blue-500 hover:bg-blue-600 text-xl leading-none text-white font-semibold h-10 px-6 rounded-full whitespace-no-wrap">
                    Get started
                </button>
        </div>
    </div>
</section>
